[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mohan19
[access "refs/for/refs/*"]
	read = group user/mohan19
	push = group user/mohan19
	label-Code-Review = -2..+2 group user/mohan19
	label-Verified = -1..+1 group user/mohan19
	rebase = group user/mohan19
	removeReviewer = group user/mohan19
	submit = group user/mohan19
[access "refs/heads/*"]
	read = group user/mohan19
	create = group user/mohan19
	push = +force group user/mohan19
	pushMerge = group user/mohan19
[access "refs/tags/*"]
	push = group user/mohan19
	push = +force group user/mohan19
